  * {
    margin: 0; 
    padding: 0
  }

  html {
    height: 100%; 
    overflow-x: hidden
  }

  body {
    background-color : #3558a1;/*#490b2f;/*#3c0b29;*/#430e2c;/*#771c48;/*#8c1f5b;*/
    min-width : 600px;
    height:100%;
  }

  .centre {
    text-align: center;
  }

  span.italics {
    font-style:italic;
  }
  span.bold {
    font-weight:bold;
  }
  div.navbar {
    background-image : url('images/nav.gif');
    background-repeat:repeat-x;
    height: 27px;
    width: 100%;
  }
  div.navlist {
    width: 735px;
    padding-top: 4px;
    margin-left:auto;
    margin-right:auto;
  }
  input.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height:24px;
  }
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  ul.bullet {
    margin-left:18px;
  }
  ul.navlist {
  }
  ul.navlist li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    list-style-type: none;
    padding-right: 8px;
  }
  img {
    border: 0px;
  }
  a {
  color: #ffffff;
  text-decoration: none;
  }
  div.header {
    width:100%;
    padding-top: 15px;
  }
  img.logo {
    /*width: 200px;*/
    height: 65px;
  }
  button.large {
    cursor: pointer; 
    color: white; 
    height: 53px; 
    margin-left: 5px; 
    margin-bottom: 6px;
    margin-right: 20px;
    width: 150px; 
    font-family: Helvetica, Arial, sans-serif; 
    padding: 4px; 
    vertical-align:middle; 
    font-weight: bold; 
    font-size: 14px; 
    border-right: 1px solid #03266F; 
    border-bottom: 1px solid #03266F; 
    border-top: none; 
    border-left: none; 
    background: transparent url(images/biggrad.gif) repeat-x; 
    background-color: #1C3F88;
  }
  div.heading {
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    font-weight:bold;
  }

  div.subheading {
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 15px;
    color: #ffffff;
    line-height: 18px;
    font-weight:normal;
  }

  div.text {
    font-family: Arial,Helvetica, sans-serif; 
    font-size: 14px;
    line-height:20px;
    color: #ffffff;
  }

  div.slideshow {
    width: 100%;
    height: 362px;
    background-color:#000000;
    padding-top: 11px;
  }

  #slides {
    z-index:100;
  }

  .slides_container {
    width:735px;
    overflow:hidden;
    display:none;
    margin-left: 48px;
  }

  .slides_container a {
    width:735px;
    height:350px;
    display:block;
  }

  .slides_container a img {
    display:block;
    height:350px;
  }

  div.content {
    width:735px;
    margin-left:auto;
    margin-right:auto;
  }
  span.quotation {
    font-family: helvetica, georgia, courier, arial;
    font-size: 14px;
    color: #ffffff;
    font-weight:200;
  }
  div.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    line-height: 22px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  div.footer a {
    color: #ffffff;
    text-decoration: underline;
  }
